.footer {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: aliceblue;
    padding: 10px;
}

.footerBlock {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerButtons {
    display: flex;
    flex-direction: row;
}

.socialMediaButton {
    background-color: #ffc400;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.25rem;
    border-color: #282c34;
    margin: 0px 5px;
    transition: 0.3s;
    text-decoration: none;
}

.socialMediaButton:hover {
    background-color: #bc9102;
}

.footerNavLinkItem {
    list-style-type: none;
    padding: 3px 0px;
    transition: 0.3s;
}

.footerNavLinkItem:hover {
    color: #ffc400;
    cursor: pointer;
}

@media only screen and (max-width: 820px) { 
    .footer {
        flex-direction: column;
    }
}